html {
  font-family: 'Open Sans', sans-serif;
}

.center {
  text-align: center;
}

.component-page{
  max-width: 40rem;
  margin:auto;
}

.component-tab-button {
  display: inline-block;
  padding: 1rem;
  cursor: pointer;
  background-color: #eee;
  box-sizing: border-box;
}

.component-tab-button:hover{
    background-color: #999;
    color: #fff;
}

.component-tab-button.selected {
  background-color: #999;
}

.component-label {
  font-weight: bold;
  font-size: 150%;
}

.component-page-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.component-wrapper {
  margin-top:.5rem;
  border: 1px solid #e6e6e6;
}

.component-example-wrapper {
  padding: 1rem;
}
.component-wrapper pre {
  margin: 0;
}
.component-markup-header {
  background-color: #eeeeee;
  display: inline-block;
  padding: .5rem;
  color: #999;
}

.component-tab-title{
  font-size: 200%;
}
.component-parameter-item {
  padding: 1rem;
  background-color: #eeeeee;
  display: flex;
}
.component-parameter-name {
  font-weight: 600;
  width: 15rem;
}
.component-parameter-type{
  color: #2196f3;
  text-transform: capitalize;
  font-style: italic;

}
.component-parameter-description{
  margin-top: .5rem;
}

.component-parameters-group-label {
  font-size: 80%;
  color: #aaa;
  text-align:right;
}

.component-parameters-group {
  border: solid #aaa 1px;
  margin-bottom: .3rem;
}

.component-parameter-separator{
  height: 1px;
  background-color: #aaa;
  width: 100%;
}
