html {
  font-family: 'Open Sans', sans-serif;
}

.component-label {
  font-weight: bold;
  font-size: 150%;
}

.component-page-wrapper {
  max-width: 40rem;
  margin:auto;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.component-wrapper {
  margin-top:.5rem;
  border: 1px solid #e6e6e6;
}

.component-example-wrapper {
  padding: 1rem;
}
.component-wrapper pre {
  margin: 0;
}
.component-markup-header {
  background-color: #eeeeee;
  display: inline-block;
  padding: .5rem;
  color: #999;
}
